input[type=text],
input[type=number],
textarea {
  background: #ffffff;
  border: solid 1px #eaeaea;
  border-radius: 2px;
  font-family: "avenir-light";
  font-size: 14px;
  outline: none;
  padding: 12px;
  transition: border-color .4s;
  width: 440px;
}

input[type=text]:hover,
input[type=number]:hover,
textarea:hover{
  border-color: #A7BBC7;
}

input[type=text]:focus,
input[type=number]:focus,
textarea:focus {
  border: solid 1px #025A92;
}

input.half {
  width: 220px;
}

label {
  color: #959595;
  font-family: "avenir-light";
  font-size: 14px;
  clear: both;
  display: block;
  margin-bottom: 5px;
}

.input-search {
  background-image: url('../images/icon-search.png') !important;     
  background-position: right 10px top 12px !important;
  background-repeat: no-repeat !important; 
  background-size: 18px !important;       
}

.input-search-nav {
  background-image: url('../images/icon-search.png') !important;     
  background-position: left 9px top 9px !important;
  background-repeat: no-repeat !important; 
  background-size: 14px !important;    
  border-radius: 24px !important;
  font-size: 12px !important;
  padding: 8px 10px !important;
  width: 200px !important;
  text-indent: 18px !important;
}